.wrapper{
    width: 100%;
    margin-top: 60px;
}
.cell > td{
    text-align: center;
}

.act{
     display: flex;
    justify-content: space-around;
}

.button{
    cursor: pointer;
    background: none;
    border: none;
}