
.disabled{
    display: none;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalContent{
    width: 30vw;
    height: 60vh;
    background: #fff;
    border: 1px solid #000;
}